rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /Profile/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /NexChat/{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}